<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1>Kharon Pay</h1>
        <p>Hi,</p>
        <p>Your Kharon Pay password has been changed successfully</p>
        <p>If you did not initiate the password reset contact us immediately <a href="mailto:support@kharon.com">here</a>.</p>

        <p>Kharon Team.</p>
    </body>
</html>